{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">เพิ่มผู้ใช้ใหม่</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ url_for('main.manage_users') }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left me-2"></i>กลับไปยังรายการผู้ใช้</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="username" class="form-label">ชื่อผู้ใช้</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">รหัสผ่าน</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">ชื่อ-นามสกุล</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">บทบาท</label>
                <select class="form-select" id="role" name="role" required>
                    <option value="staff">พนักงาน</option>
                    <option value="admin">ผู้ดูแลระบบ</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">บันทึกข้อมูลผู้ใช้</button>
        </form>
    </div>
</div>
{% endblock %}

