{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">แก้ไขข้อมูลลูกค้า</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ url_for('main.customers') }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left me-2"></i>กลับไปยังรายการลูกค้า</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="name" class="form-label">ชื่อลูกค้า</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ customer.name }}" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">โทรศัพท์</label>
                <input type="text" class="form-control" id="phone" name="phone" value="{{ customer.phone or '' }}">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">ที่อยู่</label>
                <textarea class="form-control" id="address" name="address" rows="3">{{ customer.address or '' }}</textarea>
            </div>
            <div class="mb-3">
                <label for="line_id" class="form-label">Line ID</label>
                <input type="text" class="form-control" id="line_id" name="line_id" value="{{ customer.line_id or '' }}">
            </div>
            <button type="submit" class="btn btn-primary">บันทึกการเปลี่ยนแปลง</button>
        </form>
    </div>
</div>
{% endblock %}

